:root {    
    --header-bg-color: #cccccc;
    --countdown-bar-bg-color: #eeeeee;
    --task-countdown-fill-width: 20%;
    --break-countdown-fill-width: 20%;
    --countdown-fill-color: #18ff71;
}

div.timer-container {
    border: 1pt solid black;
    width: 250px;
    text-align: center;
}

div.timer-container > div {
    padding: 0.5em 0;
}

div.timer-header {
    background-color: var(--header-bg-color);
}

div.task-timer-header {
    display: grid;
    grid-template-columns: auto auto;
}

.countdown-bar {
    position: relative;
    height: 60px;
    background-color: var(--countdown-bar-bg-color);
}

.countdown-fill {
    position: absolute;
    content: "";
    height: 60px;
    z-index: 2;
    background-color: var(--countdown-fill-color);
}

#task-timer-countdown-fill {
    width: var(--task-countdown-fill-width);
}

#break-timer-countdown-fill {
    width: var(--break-countdown-fill-width);
}

.countdown-time {
    position: relative;
    height: 60px;
    font-size: 24pt;
    font-weight: bold;
    z-index: 3;
    padding: 0.3em;
}

.hidden {
    display: none;
}